.profile {
    border-radius: 100%;
    max-width: 200px;
    border: 1px solid black;
    transition: transform 0.3s ease-in-out;
}

.profile-container {
    position: relative;
    overflow: hidden;
}



/* Efeito de zoom ao passar o mouse */
.profile-container:hover .profile {
    transform: scale(1.1);
}

.btn-primary {
    background-color: #42A8C0;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.btn-primary:hover {
    background-color: #2980b9;
}

.show_more {
    background-color: #42A8C0;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

.show_more:hover {
    background-color: #2980b9;
}

.popup-content {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    

}



#popupTrigger {
    cursor: pointer;
}



#popup {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    
  }
  
 

  #closeBtn {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #aaa;
  }
  
  #closeBtn:hover {
    color: #2d7788;
  }